<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <a class="text-primary-500 cursor-pointer" (click)="navigateTo('/main/page')">{{ 'breadcrumbs_home' | transloco }}</a>
                <div class="ml-1 flex items-center">
                    <mat-icon svgIcon="feather:chevron-right"></mat-icon>
                    <span class="ml-1 text-gray-500">{{ 'breadcrumbs_news' | transloco }}</span>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{ 'title_news' | transloco }}
                </h2>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="flex flex-wrap items-start w-full max-w-400 -m-4">
            <!-- News Item 1 -->
            <fuse-card class="flex flex-col max-w-80 w-full filter-listing">
                <img class="object-cover" src="assets/images/pages/доска.jpg" alt="image">
                <div class="m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">{{ 'news_item_1_title' | transloco }}</div>
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="flex items-center">
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star_half'"></mat-icon>
                        </div>
                        <div class="text-secondary ml-2">{{ 'rating' | transloco }}</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">{{ 'news_item_1_date' | transloco }}</div>
                    </div>
                    <div class="mt-6">{{ 'news_item_1_description' | transloco }}</div>
                    <div class="flex items-center mt-3 -mx-3">
                        <a class="px-3 mr-1" mat-button [color]="'primary'" [routerLink]="['./']">
                            {{ 'read_more' | transloco }}
                        </a>
                    </div>
                </div>
            </fuse-card>

            <!-- News Item 2 -->
            <fuse-card class="flex flex-col max-w-80 w-full filter-listing">
                <img class="object-cover" src="assets/images/pages/учеба1.png" alt="image">
                <div class="m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">{{ 'news_item_2_title' | transloco }}</div>
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="flex items-center">
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star_half'"></mat-icon>
                        </div>
                        <div class="text-secondary ml-2">{{ 'rating' | transloco }}</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">{{ 'news_item_2_date' | transloco }}</div>
                    </div>
                    <div class="mt-6">{{ 'news_item_2_description' | transloco }}</div>
                    <div class="flex items-center mt-3 -mx-3">
                        <a class="px-3 mr-1" mat-button [color]="'primary'" [routerLink]="['./']">
                            {{ 'read_more' | transloco }}
                        </a>
                    </div>
                </div>
            </fuse-card>

            <!-- News Item 3 -->
            <fuse-card class="flex flex-col max-w-80 w-full filter-listing">
                <img class="object-cover" src="assets/images/pages/учеба2.jpeg" alt="image">
                <div class="m-8 mb-4">
                    <div class="text-2xl font-semibold leading-tight">{{ 'news_item_3_title' | transloco }}</div>
                    <div class="flex items-center leading-none mt-2 -ml-1">
                        <div class="flex items-center">
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star'"></mat-icon>
                            <mat-icon class="text-orange-500 icon-size-5" [svgIcon]="'mat_outline:star_half'"></mat-icon>
                        </div>
                        <div class="text-secondary ml-2">{{ 'rating' | transloco }}</div>
                        <div class="text-secondary mx-2">&bull;</div>
                        <div class="text-secondary">{{ 'news_item_3_date' | transloco }}</div>
                    </div>
                    <div class="mt-6">{{ 'news_item_3_description' | transloco }}</div>
                    <div class="flex items-center mt-3 -mx-3">
                        <a class="px-3 mr-1" mat-button [color]="'primary'" [routerLink]="['./']">
                            {{ 'read_more' | transloco }}
                        </a>
                    </div>
                </div>
            </fuse-card>
        </div>
    </div>
</div>
