<div class="flex justify-between mb-2" *transloco="let t">
    <div class="text-left">
        <div class="hidden sm:flex items-center font-medium">
            <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
                <a
                        *ngIf="!last; else lastLink"
                        class="text-primary-500 cursor-pointer"
                        (click)="navigateTo(breadcrumb.path)">
                    {{ t(breadcrumb.label) }}
                </a>
                <ng-template #lastLink>
                    <span class="text-gray-500">{{ t(breadcrumb.label) }}</span>
                </ng-template>

                <mat-icon *ngIf="!last" svgIcon="feather:chevron-right"></mat-icon>
            </ng-container>
        </div>
        <h1 class="mt-1 text-2xl sm:text-4xl tracking-tight leading-tight">{{ currentTitle }}</h1>
    </div>
</div>
