<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container class="flex-auto h-full">
        <mat-drawer-content class="flex flex-col overflow-hidden">
            <div class="flex items-center justify-between p-4 border-t bg-card">
                <a
                        class="inline-flex items-center leading-6 text-primary hover:underline"
                        [routerLink]="['/subjects', subject, grade]">
                    <mat-icon class="icon-size-5 text-current">arrow_back</mat-icon>
                    <span class="ml-1.5 font-medium leading-5">{{ 'back' | transloco }}</span>
                </a>
                <div class="text-2xl font-semibold">{{ theme?.title }}</div>
                <div class="flex items-center leading-5 text-md text-secondary">
                    <mat-icon class="icon-size-5 text-hint">schedule</mat-icon>
                    <span class="ml-1.5">{{ theme?.duration }} минут</span>
                </div>
            </div>
            <div class="flex-auto overflow-y-auto flex justify-center items-center bg-gray-100">
                <ng-container *ngIf="currentImages.length > 0; else noImages">
                    <img [src]="currentImage" class="rounded-lg shadow w-full h-full object-contain" />
                </ng-container>
                <ng-template #noImages>
                    <p>{{ 'No images available' | transloco }}</p>
                </ng-template>
            </div>
            <div class="flex items-center justify-between p-4 border-t bg-card">
                <button mat-stroked-button [disabled]="currentImageIndex === 0" (click)="goToPreviousImage()">
                    <mat-icon>arrow_back</mat-icon>
                    {{ 'back-to' | transloco }}
                </button>
                <button mat-stroked-button [disabled]="currentImageIndex === currentImages.length - 1" (click)="goToNextImage()">
                    {{ 'next' | transloco }}
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
